@page
@model RazorPagesMovie.Pages_Movies.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <label asp-for="Movie.Productos" class="control-label"></label>
                <input asp-for="Movie.Productos" class="form-control" />
                <span asp-validation-for="Movie.Productos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.fechaingreso" class="control-label"></label>
                <input asp-for="Movie.fechaingreso" class="form-control" />
                <span asp-validation-for="Movie.fechaingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Valorunitario" class="control-label"></label>
                <input asp-for="Movie.Valorunitario" class="form-control" />
                <span asp-validation-for="Movie.Valorunitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Cantidad" class="control-label"></label>
                <input asp-for="Movie.Cantidad" class="form-control" />
                <span asp-validation-for="Movie.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Precio" class="control-label"></label>
                <input asp-for="Movie.Precio" class="form-control" />
                <span asp-validation-for="Movie.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
