@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
    <body>
    <div class="text-center">
           
    <h1 class="display-4"><strong>Distribudora J.Y.A</strong></h1>
    <p>Clic aquí para agregar productos a la lista  <a href="https://localhost:7168/Movies">Lista de productos</a>.</p><br><br><br>
    
    <h3>Ventas al por mayor y al detal de productos para la canasta familiar y aseo hogar</h3><br>
    <p><em>Brindamos la mejor atención, calidad y precios de todos los productos para aseo hogar y la canasta familiar</em></p>

</div>
</body>
